DEBUG=1

ALLOWED_ORIGINS=*

# Database connection URL
# sqlite:    sqlite:///./sqlite.db
# mysql:     mysql+pymysql://user:password@host:3306/dbname
# postgres:  postgresql+psycopg2://user:password@host:5432/dbname
DATABASE_URL=sqlite:///./sqlite.db

# Pool settings (ignored for sqlite)
POOL_RECYCLE=300
POOL_SIZE=10
MAX_OVERFLOW=20
POOL_TIMEOUT=60

DOCKER_PORT=8000

# Logging
LOG_TO_CONSOLE=1
LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_FILE_NAME=app.log
LOG_BACKUP_COUNT=7
